[submodule "aoc-2024-day1"]
	path = aoc-2024-day1
	url = https://github.com/ValynTyler/aoc-2024-day1.git
[submodule "aoc-2024-day2"]
	path = aoc-2024-day2
	url = https://github.com/ValynTyler/aoc-2024-day2.git
[submodule "aoc-2024-day3"]
	path = aoc-2024-day3
	url = https://github.com/ValynTyler/aoc-2024-day3.git
[submodule "aoc-2024-day4"]
	path = aoc-2024-day4
	url = https://github.com/ValynTyler/aoc-2024-day4.git
